.listings-container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fav-listings {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}


  .listings-container .search-bar {
    width: clamp(12rem, 100%, 28rem);
    border-radius: 30px;
    border: 1px solid rgba(120, 120, 120, 0.374);
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
  
  .listings-container .search-bar .button {
    border-radius: 30px;
    font-size: 14px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .listings-container .search-bar input {
    width: 70%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
  }
  
 